.switch {
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider (track) */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    /*transition: 0.4s;*/
    border-radius: 30px;
    outline: 1px solid var(#1f1e1e);
}

/* The thumb (inner circle) */
.thumb {
    position: absolute;
    height: 1.4em;
    width: 1.4em;
    background-color: white;
    border-radius: 50%;
    left: 0.3em;
    bottom: 0.3em;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.4s;
}

/* When checked, slide the thumb to the right */
.switch input:checked + .slider .thumb {
    transform: translateX(1.5em);
}

/* When checked, change the track color */
.switch input:checked + .slider {
    background-color: #ccc;
}
